# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Vercel deployment folder
.vercel

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor folders
.vscode/
.idea/

# Optional: Ignore lock files if you want consistent installs per environment
# package-lock.json
# yarn.lock
